{
  "extends": "marudor",
  "env": {
    "browser": true
  },
  "globals": {
    "require": false,
    "__PROD__": false,
    "__DEV__": false,
    "global": false,
    "BASE_URL": false
  },
  "rules": {
    "class-property/class-property-semicolon": 1
  },
  "plugins": [
    "class-property"
  ]
}
